    <%  @AbnormalOperation=  @infomations["baseInfo"]["AbnormalOperation"]  %>
          <% @change_size_AbnormalOperation=@infomations["baseInfo"]['AbnormalOperation_size']  %>
          <% @AbnormalOperation= Kaminari.paginate_array(@AbnormalOperation ,total_count:@change_size_AbnormalOperation      ).page(params[:page]  ).per(1)  %>

$("#AbnormalOperation_tbody").empty();

<% @AbnormalOperation.each do | coping_information | %>

$("#AbnormalOperation_tbody").append(" <tr >\
            <td width='8%'><%=coping_information['_id'] %></td>\
            <td width='10%'><%=coping_information['reasons_for_into_year'] %></td>\
            <td width='12%'><%=coping_information['reasons_judges'] %></td>\
            <td width='30%'><%=coping_information['reasons_for_into'] %></td>\
            <td width='10%'><%=coping_information['position'] %></td>\
            <td width='30%'><%=coping_information['reasons_for_free'] %></td>\
          </tr>")

<% end %>


$("#AbnormalOperation_div").html('<%=  escape_javascript(paginate @AbnormalOperation,  :type=> "AbnormalOperation",:companyType=>'基本信息',:fieldName=>'经营异常', :remote=>true) %>')