<div class="y-xysj">
  <div class="y-xysj-contant">
    <div class=" y-xysj-contant-left panel-group" id="accordion">
	  <div class="y-xysj-contant-left-part panel panel-default" id="y-xysj-contant-left-part">
	    <script type="text/javascript">
	    	$('.y-xysj-contant-left-part-txt').ready(function(){

	    	   $('.y-xysj-contant-left-part-txt ~ div').attr('class','panel-collapse collapse  y-xysj-contant-left-part-txt')
	    	   $('.y-xysj-contant-left-part').children('div:first').attr('class','panel-collapse collapse in y-xysj-contant-left-part-txt')
	    	   $(".y-xysj-contant-left-part").children('a:first').css('background','#4285f4');
	    	    $(".y-xysj-contant-left-part").children('a:first').css('color','#fff');
	    	    
	    	});
	    </script>
	    <% @obj["SZ_Credit"].each do |ke , message| %>
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseOne" class="y-xysj-contant-left-part-title">
         <%= ke %>
		<span class="fa fa-chevron-right" style="display:block;float:right;"></span>
		</a>
      
		<div id="collapseOne" class="panel-collapse collapse  y-xysj-contant-left-part-txt">
		    
		 
		  <ul id="liebiao" class="panel-body">
		  <% message.each do |message_two| %>
		
	    	<li><a href="#" class="y-xysj-contant-left-part-lb">
            <%= message_two[0] %>
          
		    </a></li>
		    
		  <% end %>
		
		  </ul>
		
	    </div>
	    <% end %>
	  </div>
    </div>
	<!-- <div class="y-xysj-contant-left-part panel panel-default" id="y-xysj-contant-left-part">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseTwo" class="y-xysj-contant-left-part-title">
			登记备案<span class="fa fa-chevron-right" style="display:block;float:right;"></span>
		</a>
		<div id="collapseTwo" class="panel-collapse collapse y-xysj-contant-left-part-txt">
		
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="" class="y-xysj-contant-left-part-lb">税务登记信息（地税</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">企业参保信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">住房公积金缴存数据表</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">税务登记信息（国税</a></li>
			    </ul>
		
		</div>
	</div>
	<div class="y-xysj-contant-left-part panel panel-default" id="y-xysj-contant-left-part">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseThree" class="y-xysj-contant-left-part-title">
			认证信息<span class="fa fa-chevron-right" style="display:block;float:right;"></span>
		</a>
		<div id="collapseThree" class="panel-collapse collapse y-xysj-contant-left-part-txt">
			
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业网站信息</a></li>
			    </ul>
		
		</div>
	</div> -->

  <div class="y-xysj-contant-right">
   
	  <% @first_data.each do |xinx|%>
	  <table class="y-xysj-contant-right-c-t">
		<thead class="yyxcr-table-head">
		  <tr>
			<th width="30%">名称</th>
			<th>信息</th>
		  </tr>
		</thead>
		<tbody>
		<% xinx.each do |km,sj|%>
		  <tr id="xy-table-contant">
			<td><%= km %></td>
			<td><%= sj%></td>
          </tr>
		<% end %>
			
	    </tbody>
	  </table>
	  <% end %>
      <%= paginate @first_data, parma_name: :first_page, remote:true %>
	
  </div>

</div>
	</div>
