
<div class="y-sbjk" >



<div class="y-contant">
	<div class="y-contant_one" >
		<table class="y-form" cellspacing="0px;" style="box-shadow: 0 0 3px #ccc;">
		  <thead>
		    <tr class="y-form-head">
		                <th width="13%">客户</th>
		    	<th width="10%">权利人</th>
		    	<th width="12%">产权证号</th>
		    	<th width="15%">抵押权人</th>
		    	<th width="12%">身份证号</th>
		    	<th width="8%">抵押时间</th>
		    	<th width="6%">产权类型</th>
		    	<th width="7%">产权状态</th>
		    	<th width="7%">过户价</th>
		    	<th width="10%">操作</th>
		    </tr>
		  </thead>
		  <tbody id="mortgages_tbody">
      <% @mortgages.each do |a| %>
			<tr>
				<td><%= a['customerinformation'] %></td>
				<td><%= a['Theholde'] %></td>
				<td><%= a['cardnumber'] %></td>
				<td><%= a['mortgagee'] %></td>
			                 <td><%= a['Idnumber'] %></td>
			                <td><%= a['Mortgagetime'] %></td>
				<td><%= a['Propertytype'] %></td>
			                <td><a href="" title=""><%= a['Stateproperty'] %></a></td>
			                <td><a href="" title="" data-toggle="modal" data-target="#c_myModal_djck">点击查看</a></td>
			                <td><a href="" title=""  data-toggle="modal" data-target="#c_myModal_chakan">查看</a>/<a href="" title="">修改</a>/<a href="" title="">删除</a></td>
			</tr>
      <% end %>
			
		  </tbody>
		</table>
    <div id="mortgages_div">

      <%= paginate @mortgages,   :params=> {  :type=>   :mortgages},  :remote=>true %>

    </div>
	</div>
</div>
</div>




<!-- 表格点击查看模态框（Modal） -->
<div class="modal fade" id="c_myModal_chakan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal_djck">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					房产抵押详情
				</h4>
			</div>
			<div class="modal-body">
				<div>
					<table>
						
						<tbody>
							<tr>
								<td>权利人</td>
								<td>胡小琴</td>
								<td>产权证号</td>
								<td>5000604809</td>
							</tr>
							<tr>
								<td>抵押详情</td>
								<img src="" alt="">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


<!-- 表格查看模态框（Modal） -->
<div class="modal fade" id="c_myModal_djck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal_djck">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					过户价图表信息
				</h4>
			</div>
			<div class="modal-body">
				客户：信息
			</div>
			<div class="modal-footer">
				<span style="margin: 0 auto">暂无数据</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>